@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Dosis:wght@200&family=Gloria+Hallelujah&display=swap');

:root {
    background-color: white;
    color: black;
    --font-primary: 'Dosis', sans-serif;
    --font-secondary: 'Amatic SC', cursive;
    --font-tertiary: 'Gloria Hallelujah', cursive;
}

.not {
    font-family: var(--font-tertiary);
    font-size: 20px;
    text-align: center;
}