@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Dosis:wght@200&family=Gloria+Hallelujah&display=swap');

:root {
    background-color: white;
    color: black;
    --font-primary: 'Dosis', sans-serif;
    --font-secondary: 'Amatic SC', cursive;
    --font-tertiary: 'Gloria Hallelujah', cursive;
}

.cart {
    font-family: var(--font-tertiary);
}

.quantity {
    font-family: var(--font-secondary);
    font-size: 20px;
    background-color: black;
    color: white;
}

.btnBuy {
    display: inline;
}
