@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');

.infProd {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 0px;
    align-items: center;
    justify-content: space-around;
}

.card {
    width: 20rem;
	margin: 20px;
	border-radius: 4px;
	max-width: 1000px;
	overflow: hidden;
	background:#fff;
	box-shadow: 0px 1px 8px rgba(0,0,0,0.87);
	cursor: default;
}

.card:hover{
	box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
	transform: translateY(-2%);
}

.cardContainer {
    text-align: center;
}

.OptionDe {
    padding-left: 50px;
} 

.optionD {
    padding-left: 191px;
    cursor: pointer;
    list-style: none;
    text-decoration: none;
    font-family: var(--font-tertiary);
    font-size: 18px;

}

.option:hover {
    color: black ;
}

.imgPx {
    height: 350px;
    width: 350px;
}