@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barrio&display=swap');

:root {
    background-color: white;
    color: black;
    --font-primary: 'Dosis', sans-serif;
    --font-secondary: 'Amatic SC', cursive;
    --font-tertiary: 'Barrio', cursive;
}


div {
    display: inline;
}

.cart {
    color: black;
    width: 50px;
}

.widget {
    padding-left: 8px;
    text-decoration: none;
    list-style: none ;
}

.qu {
    padding-left: 12px;
}

