@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Dosis:wght@200&family=Gloria+Hallelujah&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barrio&display=swap');

:root {
    background-color: white;
    color: black;
    --font-primary: 'Dosis', sans-serif;
    --font-secondary: 'Amatic SC', cursive;
    --font-tertiary: 'Barrio', cursive;
}

.formInformation {
    width: 90%;
    margin: 6% 4%;
}

.title {
    font-family: var(--font-tertiary);
    font-size: 28px;
    justify-self: center;
    width: 45%;
    border-bottom: 2px solid black;
}

label {
    font-family: var(--font-secondary);
    font-size: 18px;
}

input {
    font-family: var(--font-primary);
    font-size: 12px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 0;
    transition: all .3s;
    border-bottom: 2px solid grey;
}

.bttGenerate{
    font-family: var(--font-tertiary);
    font-size: 22px;
    float: right;
    padding: 12px 12px;
    margin: 8px 0 0;
    border: 2px solid gray;
    cursor: pointer;
    transition: all .3s;
}

.bttGenerate:hover{
    background: gray;
    color: #fff;
    font-size: 22px;
}