@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Dosis:wght@200&family=Gloria+Hallelujah&display=swap');

:root {
    background-color: white;
    color: black;
    --font-primary: 'Dosis', sans-serif;
    --font-secondary: 'Amatic SC', cursive;
    --font-tertiary: 'Gloria Hallelujah', cursive;
}

.card {
    width: 85%;
}


.picture {
    padding-left: 30px;
    height: 500px;
    width: 500px;
}

.cardDetail1 {
    font-family: var(--font-secondary);
    font-size: 26px;
}

.cardDetail {
    margin: 12px;
    font-family: var(--font-secondary);
    font-size: 22px;
}

.footer {
    font-family: var(--font-secondary);
    font-size: 22px;
}

.end {
    font-family: var(--font-tertiary);
    font-size: 18px;
    list-style: none;
    text-decoration: none;
    color: inherit;
}