@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');

.Navbar {
    display: flex;
}

.Categories {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 8%;
}