@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');

.navbar {
    display: flex;
    margin: 10px 30px 30px;
    padding: 20px 30px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.navbar div ul {
    display:inline-block;
}

.navbar div button {
    list-style: none;
    float:left;
    cursor: pointer;
}

.navbar div button{
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Dosis', serif;
    margin-left: 30px;
}

.logoTerra {
    width: 100%;
    margin-right: 20px;
}