@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Dosis:wght@200&family=Gloria+Hallelujah&display=swap');

:root {
    background-color: white;
    color: black;
    --font-primary: 'Dosis', sans-serif;
    --font-secondary: 'Amatic SC', cursive;
    --font-tertiary: 'Gloria Hallelujah', cursive;
}


.Navegation {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 0%;
    
}

.Category {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    font-family: var(--font-primary);
    font-size: 18px;
}

.Option {
    display: inline;
    justify-content: right;
    padding: 20%;
    text-decoration: none;
    list-style: none;
}

.ActiveOption {
    display: inline;
    justify-content: right;
    padding: 36px;
    text-decoration: none;
    list-style: none;
}
